<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/home">Purchase Order Management</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/login" *ngIf="router.url==='/'||router.url==='/login'">LogIn</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/register" *ngIf="router.url==='/'||router.url==='/register'">Register</a>
    </li>



    <li class="nav-item">
      <a class="nav-link" routerLink="/RaisePo" *ngIf="router.url==='/buyerPage'||router.url==='/RaisePo' || router.url==='/viewAll'"> Raise
        Purchase Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewAll" *ngIf="router.url==='/buyerPage'||router.url==='/viewAll'||router.url==='/RaisePo'"> View All
        Products</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="logout()" *ngIf="router.url==='/buyerPage'||router.url==='/LogOut'">LogOut</a>
    </li>



    <li class="nav-item">
      <a class="nav-link" routerLink="/viewProducts"
        *ngIf="router.url==='/vendorPage'||router.url==='/viewProducts'">View All Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="addQuantity" *ngIf="router.url==='/vendorPage'||router.url==='/addQuantity'">Add
        Quantity</a>
    </li>
    

  </ul>
</nav>


<!--   
      <nav class="navbar navbar-expand-sm bg-secondary navbar-dark" *ngIf="flag==true &&  logged=='vendor'">
          <ul class="navbar-nav">
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/" >Home</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/viewProducts">View All Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/viewAll">View All Available Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="addQuantity">Add Quantity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">LogOut</a>
            </li>
        
          </ul>
        </nav>


        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark"  *ngIf="flag==true &&  logged=='buyer'">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/" >Home</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/RaisePo"> Raise Purchase Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/viewAll"> View All Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">View all Raised PO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="logout()">LogOut</a>
              </li>
              
            </ul>
          </nav>
          <br>
        
  
  -->